
/* General Styles */

html {
  background-color: #fbfbfb;
  font-size: 16px;
  scroll-behavior: smooth; 
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: #004070;
  margin: 0;
}

:root {
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-high:
    -0.2px 0.2px 0.3px hsl(var(--shadow-color) / 0.04),
    -0.6px 0.9px 1.3px -0.3px hsl(var(--shadow-color) / 0.05),
    -1.1px 1.5px 2.2px -0.6px hsl(var(--shadow-color) / 0.05),
    -1.7px 2.4px 3.5px -0.9px hsl(var(--shadow-color) / 0.05),
    -2.7px 3.6px 5.3px -1.2px hsl(var(--shadow-color) / 0.05),
    -4px 5.4px 8px -1.5px hsl(var(--shadow-color) / 0.06),
    -6px 8.1px 11.9px -1.8px hsl(var(--shadow-color) / 0.06),
    -8.7px 11.8px 17.4px -2.1px hsl(var(--shadow-color) / 0.06);
}
 
a {
  text-decoration: none;
  color: #004070;
  background-color: transparent;
}

h1, footer h2 {
  font-family: 'Alata', sans-serif;
  text-align: center;
}

h2 {
  font-family: 'Alata', sans-serif;
}
 
h3, 
h4 {
  font-family: 'Alata', sans-serif;
}
 
address {
  font-style: normal;
}

h1 span, h2 span {
  color: #65c9ff;
}
 

/* ----- Base Header - Footer Styles ------*/

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/* -------- Header --------*/

header {
  padding: 0px 0px;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
  width: 100%;
}

header nav {
  font-family: 'Alata', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0px;
}

header nav ul li {
  font-size: 1em;
  margin-top: 10px;
  list-style-type: none;
}


/* ------- Footer ------*/


footer .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 0px;
}

footer .social {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


/* ------------------- Mobile Styles -------------------*/


#intro {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

#intro .content-wrapper {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#intro h1 {
  font-weight: 600;
  font-size: 3.5em;
}

#intro p {
  margin: 0px 10px;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

#about {
  display: flex;
  justify-content: center;
}

#about .content-wrapper {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
}

#about img {
  margin-bottom: 20px;
}

section h2 {
  font-weight: 600;
  font-size: 2.5em;
}

#about h2 {
  margin-bottom: 10px;
  width: 100%;
}

#about img {
  width: 100%;
}

#about p {
  font-size: 1.2em; 
  margin-bottom: 90px;
}

#skills {
  display: flex;
  justify-content: center;
  border: solid .4em;
  border-left: none;
  border-radius: 0 7em 7em 0;
  background-color: #F5F7FA;
  box-shadow: var(--shadow-elevation-high);
}

#skills .content-wrapper {
  width: 90%;
}

#skills h2 {
  margin-bottom: 30px;
}

#skills ul {
  margin-bottom: 50px;
}

#skills li {
  font-size: 1.5em;
  font-weight: 600;
}

#projects {
  display: flex;
  justify-content: center;
}

#projects .content-wrapper {
  width: 90%;
}

#projects h2 {
  margin-top: 70px;
  margin-bottom: 50px;
}

#projects h3 {
  text-align: center;
  font-size: 1.5em;
  margin: 20px 0;
}

#projects h3 span {
  font-size: .5em;
}

#projects img {
  width: 100%;
  height: 100%;
}

#projects p {
  font-size: 1.3em;
  font-weight: 500;
}

#projects span {  
  font-weight: 600;
}

#projects .individual-projects {
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: var(--shadow-elevation-high);
  border-radius: 0em 0em 2.5em 2.5em;
  background-color: #F5F7FA;
}

#projects .project-description {
  width: 80%;
  padding: 0 9% 5% 9%;
  border-radius: 0 0 2.5em 2.5em;
}

#projects .individial-description {
  margin-top: 0;
}

#projects img {
  display: block;
}

footer .contact {
  background-color: #F5F7FA;
  border-radius: 0em 0em 0em 0em;
  padding-top: 0em;
}

footer h2 {
  font-size: 3em;
}

footer .social {
  width: 100%;
}

footer .social-icons {
  font-size: 4em;
  margin-top: .7em;
  margin-bottom: 2em;
}

footer #email {
  font-size: 1.5em;
}

footer .footer-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer .contact-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer #email {
  text-align: center;
}

footer .copyright {
  margin-bottom: 2em;
}

footer .copyright p {
  font-size: 1.5em;
}

/* ==================== MEDIA QUERIES =================== */


@media only screen and (min-width: 768px) {


/*Tablet styles*/

header nav ul {
  width: 80%;
}

header nav ul li {
  font-size: 1.3em;
}

#intro {
  margin-bottom: 70px;
}

#intro h1 {
  font-size: 5em;
}

#intro p {
  font-size: 2em;
  width: 80%;
}

#about img {
  width: 70%;
  margin-bottom: 0;
}

#skills ul {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}

#skills ul li {
  width: 45%;
}

footer h2 {
font-size: 4.2em;
}

footer #email {
  font-size: 2em;
}

footer .social-icons {
  font-size: 4em;
}

}


@media only screen and (min-width: 1200px) {

/*Desktop styles*/

header .content-wrapper {
  justify-content: flex-end;
}

header nav {
  justify-content: flex-end;
  width: 50%;
}

#intro .content-wrapper {
  align-items: flex-start;
}

#intro h1 {
  font-size: 7em;
  margin-bottom: 30px;
}

#intro p {
  display: inline-flex;
  margin: 0px;
}

#about {
  justify-content: center;
}

#about .content-wrapper {
  gap: 10%;
  flex-direction: row-reverse;
  justify-content: left;
}

#about img {
  width: 35%;
  margin-bottom: 60px;
}

#about p {
  font-size: 1.3em;
}
 
#about .about-description {
  width: 50%;
}

#skills ul {
  justify-content: left;
}

#skills ul li {
  width: 30%;
}

#projects .grouped-classes {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
}

#projects .individual-projects {
  width: 40%;
}

footer .contact {
  background-color: #F5F7FA;
  border-radius: 8em 8em 0em 0em;
  padding-top: 6em;
}

footer .footer-main {
  width: 84%;
  gap: 6%;
  justify-content: space-between;
  flex-direction: row;
}

footer h2 {
  font-size: 4em;
  margin-bottom: 2em;
}

footer .contact-list {
  margin-right: 4em;
}

footer p {
  margin-bottom: 0px;
}

footer .social-icons {
  margin-bottom: 1em;
  margin-top: 0.3em;
}

}